# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore, LICENSE and *.go files
!.gitignore
!LICENSE
!*.go
!Makefile
!Dockerfile
!build.sh
!go.mod
!go.sum
!*.yaml
!*.yml
pkg
src
vendor
dist
